* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: #f8f9fc;
}

.card {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  list-style: none;
  width: 400px;
  justify-content: space-between;
  /* flex-direction: column; */
  background-color: white;
  margin: 10px auto;
}

.card-data {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.card-texts {
  display: flex;
  flex-direction: column;
}

.svg-icon {
  /* margin-top: 10px; */
  height: 32px;
  width: 32px;
}

.food-div {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.svg-icon-delete:hover {
  cursor: pointer;
}

.header {
  text-align: center;
  padding: 10px;
  background-color: rgb(90, 177, 90);
  width: 400px;
  margin: 0 auto;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 50px;
}

h2 {
  background-color: rgb(90, 177, 90);
}

.form {
  width: 400px;
  height: 280px;
  /* border-radius: 5px; */
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: inset;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.check,
.food-input {
  margin-bottom: 15px;
}

.food-input {
  display: flex;
  flex-direction: column;
}

.food-input input {
  padding: 5px;
}

.submit-btn {
  width: 100%;
  padding: 5px;
}

.chip-yes,
.chip-no {
  color: white;
  width: 50px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  margin: 5px 0;
}

.chip-yes {
  background-color: #f03e3e;
}

.chip-no {
  background-color: rgb(90, 177, 90);
}

input {
  border-radius: 5px;
  stroke-opacity: 0.7;
  margin-top: 4px;
  border: 2px solid #f0f0f0;
}

.submit-btn {
  background-color: rgb(90, 177, 90);
  border: none;
  color: white;
  border-radius: 6px;
}

.submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-delete {
  font-size: 16px;
  /* color: white; */
  /* background-color: #f03e3e; */
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 5px 0;
}

.btn-delete:hover {
  cursor: pointer;
  opacity: 0.8;
}
